[submodule "apo/summary_files/000XXX"]
	path = apo/summary_files/000XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_000XXX
[submodule "apo/summary_files/001XXX"]
	path = apo/summary_files/001XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_001XXX
[submodule "apo/summary_files/002XXX"]
	path = apo/summary_files/002XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_002XXX
[submodule "apo/summary_files/003XXX"]
	path = apo/summary_files/003XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_003XXX
[submodule "apo/summary_files/004XXX"]
	path = apo/summary_files/004XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_004XXX
[submodule "apo/summary_files/005XXX"]
	path = apo/summary_files/005XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_005XXX
[submodule "apo/summary_files/006XXX"]
	path = apo/summary_files/006XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_006XXX
[submodule "apo/summary_files/007XXX"]
	path = apo/summary_files/007XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_007XXX
[submodule "apo/summary_files/008XXX"]
	path = apo/summary_files/008XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_008XXX
[submodule "apo/summary_files/009XXX"]
	path = apo/summary_files/009XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_009XXX
[submodule "lco/summary_files/10000XXX"]
	path = lco/summary_files/10000XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10000XXX
[submodule "lco/summary_files/10001XXX"]
	path = lco/summary_files/10001XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10001XXX
[submodule "lco/summary_files/10002XXX"]
	path = lco/summary_files/10002XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10002XXX
[submodule "lco/summary_files/10003XXX"]
	path = lco/summary_files/10003XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10003XXX
[submodule "apo/summary_files/010XXX"]
	path = apo/summary_files/010XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_010XXX
[submodule "lco/summary_files/10005XXX"]
	path = lco/summary_files/10005XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10005XXX.git
[submodule "lco/summary_files/10004XXX"]
	path = lco/summary_files/10004XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10004XXX.git
[submodule "apo/summary_files/011XXX"]
	path = apo/summary_files/011XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_011XXX.git
[submodule "apo/summary_files/012XXX"]
	path = apo/summary_files/012XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_012XXX.git
[submodule "apo/summary_files/013XXX"]
	path = apo/summary_files/013XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_013XXX.git
[submodule "apo/summary_files/014XXX"]
	path = apo/summary_files/014XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_014XXX.git
[submodule "lco/summary_files/10006XXX"]
	path = lco/summary_files/10006XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10006XXX
[submodule "lco/summary_files/10007XXX"]
	path = lco/summary_files/10007XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10007XXX
[submodule "lco/summary_files/10008XXX"]
	path = lco/summary_files/10008XXX
	url = git@github.com:sdss/sdsscore_lco_summary_files_10008XXX
[submodule "apo/summary_files/015XXX"]
	path = apo/summary_files/015XXX
	url = git@github.com:sdss/sdsscore_apo_summary_files_015XXX.git
